{% extends 'index.html' %}
{% load i18n %}

{% block page_content %}
  <<h2 style="text-indent: 1em;">{% translate "changing password" %}</h2>
  </br></br>
  <form method="post">
    {% csrf_token %}
      {% if validlink %}
        {% for field in form %}
          <p style="text-indent: 1em;">
            {{ field.label_tag }}</br>
            <p style="text-indent: 3em;">{{ field }}</p>
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
          </p>
        {% endfor %}
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
      {% endif %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <button type="submit">{% translate "submit" %}</button></button>
  </form>
{% endblock %}