{% extends 'index.html' %}
{% load i18n %}

{% block page_content %}
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">{% translate "Product" %}</th>
        <th scope="col">{% translate "Price" %}</th>
        <th scope="col">{% translate "Remove" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart.item %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.product }}</td>
        <td>{{ item.price }}</td>
        <td><a href="#">{% translate "Remove" %}</a></td>
    </tr>
    {% endfor %}
    <tr>
        <td>{% translate "Total" %}</td>
        <td colspan="4"></td>
        <td>{{ cart.total_price }}</td>
    </tr>
    </tbody>
</table>

    <a href="#" class="btn btn-primary">{% translate "Checkout" %}</a>
{% endblock %}